<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">Picture</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <nz-upload
        nzAction="/api/picture/"
        class="main-uploader"
        nzListType="picture-card"
        [nzShowUploadList]="false"
        (nzChange)="handlePictureChange($event)"
      >
        <ng-container *ngIf="!picture">
          <i class="upload-icon" nz-icon [nzType]="loading ? 'loading' : 'plus'"></i>
          <div class="ant-upload-text">Upload</div>
        </ng-container>
        <img *ngIf="picture" [src]="'/api/picture/' + picture + '/'" />
      </nz-upload>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">Sub Picture</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <img class="sub-pictures" *ngFor="let subPic of subPictures" [src]="'/api/picture/'+subPic+'/'" />
      <nz-upload
        nzAction="/api/picture/"
        class="sub-uploader"
        nzListType="picture-card"
        [nzShowUploadList]="false"
        (nzChange)="handleSubPictureChange($event)"
      >
        <ng-container>
          <i class="upload-icon" nz-icon [nzType]="loading ? 'loading' : 'plus'"></i>
          <div class="ant-upload-text">Upload</div>
        </ng-container>
      </nz-upload>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="brand">Brand</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input brand">
<!--      <input nz-input formControlName="brand" id="brand" />-->
      <nz-select formControlName="brand">
        <nz-option *ngFor="let brand of brands" [nzValue]="brand" [nzLabel]="brand"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name" nzRequired>Name</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input name">
      <input nz-input id="name" formControlName="name" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="year" nzRequired>Year</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input year">
      <nz-date-picker nzMode="year" id="year" formControlName="year" style="width: 100%"></nz-date-picker>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="price">Price</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input price">
      <input nz-input formControlName="price" id="price" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="mileage" nzRequired>Mileage</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input mileage">
      <input nz-input id="mileage" formControlName="mileage" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="displacement" nzRequired>Displacement</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input displacement">
      <input formControlName="displacement" id="displacement" nz-input />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="amt" nzRequired>AMT</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input amt">
      <input nz-input id="amt" formControlName="amt" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item nz-row class="register-area">
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <button nz-button nzType="primary">Publish</button>
    </nz-form-control>
  </nz-form-item>
</form>
